# Default ignored files
/shelf/
/.idea/
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# log文件夹
**/log/

**/target/
**/logs/
**/.idea/
**/.vscode/
**/node_modules/
**/dist/
**/*.iml

/.playwright-mcp/
